{% load staticfiles %}
{% load static %}
<!doctype html>
<html>
<head>
<style type="text/css">
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
 }
</style>
<link rel="stylesheet" type="text/css" href="{% static 'rest/style.css' %}"/>
</head>
<body>
  <p>Heyyoo batch</p>
  <div ng-cloak ng-controller="MyController">
    {% verbatim %}
    Hello {{greetMe}}!
    {% endverbatim %}
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>

  <script>
    angular.module('myApp', [])
      .controller('MyController', ['$scope', function ($scope) {
        $scope.greetMe = 'World';
      }]);

    angular.element(document).ready(function() {
      angular.bootstrap(document, ['myApp']);
    });
  </script>
</body>
</html>
